{% import 'macros/render_value.html' as render with context %}
{% extends 'layouts/app.html' %}

{% block title %}Determine Your Goals{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Value based goal setting</h1>
        <p class="text-center lead">
            Using your core values you chose in the previous page, we're going to develop goals from that
            <br>
            This is to align you with your core self of who you are or who you want to become 
            <br> Based on the methodology of 
            <a href="https://www.dummies.com/religion/spirituality/setting-and-achieving-value-based-smart-goals/#:~:text=Committed%20action%20is%20a%20core,person%20you%20want%20to%20be.">commited action</a>.
        </p>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Make sure your goals are SMART</h1>
        <p class="text-center lead">
            <b>S</b>pecific: be clear about what needs to be done
            <br>
            <b>M</b>easurable: defined criteria to measure success
            <br>
            <b>A</b>chievable: it has to be an outcome you can directly influence
            <br>
            <b>R</b>ealistic: make sure you have the time, resources, and ability to succeed
            <br>
            <b>T</b>ime: specific time periods to hold yourself accountable
            <br>
        </p>
    </div>
</section>
<section class="row d-flex">
    <div class="col">
        <form method="POST" action="{{ url_for('goals.values')}}">
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 150px">
                <div class="col-4">
                {{ render.render_value(value1) }}
                <h1>{{ value1 }}</h1>
                </div>
                <div class="col d-flex align-items-center form-group">
                    <textarea name="{{value1}}" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 150px">
                <div class="col-4">
                    {{ render.render_value(value2) }}
                    <h1>{{ value2 }}</h1>
                </div>
                <div class="col d-flex align-items-center form-group">
                    <textarea name="{{value2}}" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 150px">
                <div class="col-4">
                    {{ render.render_value(value3) }}
                    <h1>{{ value3 }}</h1>
                </div>
                <div class="col d-flex align-items-center form-group">
                    <textarea name="{{value3}}" class="form-control" rows="2"></textarea>
                </div>
            </div>
            <div class="row mt-5" style="height: 150px">
                <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Continue</button>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
</script>
{% endblock %}
