{% import 'macros/render_milestones.html' as render with context %}
{% extends 'layouts/app.html' %}

{% block title %}Milestones{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Milestones</h1>
        <p class="text-center lead">
            Markers along the journey which show your progress
        </p>
        <img src="{{ url_for('static', filename='images/flag.png') }}" class="img-fluid mx-auto" alt="icon made https://www.flaticon.com/authors/flat-icons Pixel perfect" style="max-width: 20%; max-height: 20%">
    </div>
</section>
<section class="row mb-5">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Annual goals can be overwhelming</h1>
        <p class="text-center lead">
            We're going to break them down into manageable and achievable chunks called milestones
            <br>
            Each milestone is aimed to be achieved at the end of 4 months, so in a year you should have 3 milestones
        </p>
    </div>
</section>
<section class="row d-flex"">
    <div class="container">
        <form method="POST" action="{{ url_for('goals.milestones')}}">
            {{ render.render_milestones_questionnaire(goal1) }}
            {{ render.render_milestones_questionnaire(goal2) }}
            {{ render.render_milestones_questionnaire(goal3) }}
            <div class="row mt-5" style="height: 130px">
                <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Continue</button>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
</script>
{% endblock %}
