{% extends 'layouts/app.html' %}

{% block title %}Milestones{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Milestones</h1>
        <p class="text-center lead">
            Annual goals can sometimes be big and overwhelming
            <br>
            We're going to break them down into manageable and achievbable chunks called milestones
            <br>
            Each milestone is aimed to be achieved at the end of 4 months, so in a year you should have 3 milestones
        </p>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Milestones also have to be</h1>
        <p class="text-center lead">
            <b>S</b>pecific: be clear about what needs to be done
            <br>
            <b>M</b>easurable: defined criteria to measure success
            <br>
            <b>A</b>chievable: it has to be an outcome you can directly influence
            <br>
            <b>R</b>ealistic: make sure you have the time, resources, and ability to succeed
            <br>
            <b>T</b>ime: specific time periods to hold yourself accountable
            <br>
        </p>
    </div>
</section>
<section class="row d-flex">
    <div class="container">
        <form method="POST" action="{{ url_for('goals.milestones')}}">
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 130px">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <p class="lead">{{ goal1.name }}</p>
                </div>
                <div class="col">
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone1" class="col-3 col-form-label">First milestone:</label>
                        <div class="col" id="milestone1">
                            <input type="textarea" class="form-control" name="{{ goal1.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone2" class="col-3 col-form-label">Second milestone:</label>
                        <div class="col" id="milestone2">
                            <input type="textarea" class="form-control" name="{{ goal1.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone3" class="col-3 col-form-label">Third milestone:</label>
                        <div class="col" id="milestone3">
                            <input type="textarea" class="form-control" name="{{ goal1.id }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 130px">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <p class="lead">{{ goal2.name }}</p>
                </div>
                <div class="col">
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone1" class="col-3 col-form-label">First milestone:</label>
                        <div class="col" id="milestone1">
                            <input type="textarea" class="form-control" name="{{ goal2.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone2" class="col-3 col-form-label">Second milestone:</label>
                        <div class="col" id="milestone2">
                            <input type="textarea" class="form-control" name="{{ goal2.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone3" class="col-3 col-form-label">Third milestone:</label>
                        <div class="col" id="milestone3">
                            <input type="textarea" class="form-control" name="{{ goal2.id }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-3 animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="height: 130px">
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <p class="lead">{{ goal3.name }}</p>
                </div>
                <div class="col">
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone1" class="col-3 col-form-label">First milestone:</label>
                        <div class="col" id="milestone1">
                            <input type="textarea" class="form-control" name="{{ goal3.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone2" class="col-3 col-form-label">Second milestone:</label>
                        <div class="col" id="milestone2">
                            <input type="textarea" class="form-control" name="{{ goal3.id }}" required>
                        </div>
                    </div>
                    <div class="row form-group" style="height: 30px">
                        <label for="milestone3" class="col-3 col-form-label">Third milestone:</label>
                        <div class="col" id="milestone3">
                            <input type="textarea" class="form-control" name="{{ goal3.id }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5" style="height: 130px">
                <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Continue</button>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
</script>
{% endblock %}
