{% import 'macros/render_value.html' as render with context %}
{% import 'macros/render_task_section.html' as render_task_section with context %}
{% extends 'layouts/app.html' %}

{% block title %}Tasks{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row my-3">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <h1 class="text-center">Developing Your Process: Tasks</h1>
        <p class="text-center lead">
            Tasks are going to be used achieve the milestones you set for yourself
            <br>
            Write the task that you will do to achieve the milestone and choose the day you plan to repeat
    </div>
</section>
<form method="POST" action="{{ url_for('goals.tasks')}}">
    <section class="container my-3" style="height: 500px">
        <div class="row d-flex d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-4 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='images/beginning.png') }}" class="img-fluid mx-auto" alt="Startup icon made by https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
            </div>
            <div class="col">
                <h1>First Milestones</h1>
                <p class="lead">A journey only begins once you take the first step</p>
            </div>
        </div>
        <div class="row d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold" style="visibility: hidden">placeholder</p>
                    </div>
                </div>
                {{ render_task_section.render_milestone(value1, 0) }}
                {{ render_task_section.render_milestone(value2, 0) }}
                {{ render_task_section.render_milestone(value3, 0) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Task</p>
                    </div>
                </div>
                {{ render_task_section.render_textinput(value1, 0) }}
                {{ render_task_section.render_textinput(value2, 0) }}
                {{ render_task_section.render_textinput(value3, 0) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Schedule</p>
                    </div>
                </div>
                {{ render_task_section.render_schedule(value1, 0) }}
                {{ render_task_section.render_schedule(value2, 0) }}
                {{ render_task_section.render_schedule(value3, 0) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Day</p>
                    </div>
                </div>
                {{ render_task_section.render_day(value1, 0) }}
                {{ render_task_section.render_day(value2, 0) }}
                {{ render_task_section.render_day(value3, 0) }}
            </div>
    </section>
    <section class="container" style="height: 500px">
        <div class="row d-flex d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-4 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='images/sun.png') }}" class="img-fluid mx-auto" alt="weather icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
            </div>
            <div class="col">
                <h1>Second Milestones</h1>
                <p class="lead">Enjoy every part of the process</p>
            </div>
        </div>
        <div class="row d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold" style="visibility: hidden">placeholder</p>
                    </div>
                </div>
                {{ render_task_section.render_milestone(value1, 1) }}
                {{ render_task_section.render_milestone(value2, 1) }}
                {{ render_task_section.render_milestone(value3, 1) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Task</p>
                    </div>
                </div>
                {{ render_task_section.render_textinput(value1, 1) }}
                {{ render_task_section.render_textinput(value2, 1) }}
                {{ render_task_section.render_textinput(value3, 1) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Schedule</p>
                    </div>
                </div>
                {{ render_task_section.render_schedule(value1, 1) }}
                {{ render_task_section.render_schedule(value2, 1) }}
                {{ render_task_section.render_schedule(value3, 1) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Day</p>
                    </div>
                </div>
                {{ render_task_section.render_day(value1, 1) }}
                {{ render_task_section.render_day(value2, 1) }}
                {{ render_task_section.render_day(value3, 1) }}
            </div>
    </section>
    <section class="container" style="height: 500px">
        <div class="row d-flex d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-4 d-flex justify-content-center">
                <img src="{{ url_for('static', filename='images/achievement.png') }}" class="img-fluid mx-auto" alt="weather icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
            </div>
            <div class="col">
                <h1>Third Milestones</h1>
                <p class="lead">Finish strong</p>
            </div>
        </div>
        <div class="row d-flex animate__animated" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <div class="col-3">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold" style="visibility: hidden">placeholder</p>
                    </div>
                </div>
                {{ render_task_section.render_milestone(value1, 2) }}
                {{ render_task_section.render_milestone(value2, 2) }}
                {{ render_task_section.render_milestone(value3, 2) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Task</p>
                    </div>
                </div>
                {{ render_task_section.render_textinput(value1, 2) }}
                {{ render_task_section.render_textinput(value2, 2) }}
                {{ render_task_section.render_textinput(value3, 2) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Schedule</p>
                    </div>
                </div>
                {{ render_task_section.render_schedule(value1, 2) }}
                {{ render_task_section.render_schedule(value2, 2) }}
                {{ render_task_section.render_schedule(value3, 2) }}
            </div>
            <div class="col form-group">
                <div class="row">
                    <div class="col">
                        <p class="lead font-weight-bold">Day</p>
                    </div>
                </div>
                {{ render_task_section.render_day(value1, 2) }}
                {{ render_task_section.render_day(value2, 2) }}
                {{ render_task_section.render_day(value3, 2) }}
            </div>
    </section>
    <div class="row mt-5" style="height: 150px">
        <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Continue</button>
    </div>
</form>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
    set_disable('schedule','day')
</script>
{% endblock %}
