{% import 'macros/render_checkboxes.html' as render_checkboxes with context %}
{% import 'macros/render_value.html' as render_value with context %}
{% extends 'layouts/app.html' %}

{% block title %}What Are Your Values{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row">
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
        <div class="text-center">
            <img src="{{ url_for('static', filename='images/life.png') }}" class="img-fluid" width="200" height="100" class="img-fluid"
            alt="Picture of a hand and a heart made by ultimatearm available on https://www.flaticon.com/authors/ultimatearm">
        </div>
        <h1 class="text-center">What are values?</h1>
        <p class="text-center lead">
            A person's prtinciples or standards of behaviour; 
            <br>
            one's judgement of what is important in life.
            <br>
        </p>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center">
        <h1 data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" class="text-center">Choose the top three values that represent you.</h1>
    </div>
</section>
<section class="row d-flex">
    <div class="col">
        <form method="POST" action="{{ url_for('goals.values')}}">
            <div class="row">
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("authentic", "Stay true to yourself no matter what", render_value.render_value('authentic')) }}
                        {{ render_checkboxes.render_checkbox("adventure", "The unknown is something you crave", render_value.render_value('adventure')) }}
                        
                    </div>
                </div>
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("balance", "Belief that balance is important", render_value.render_value('balance')) }}
                        {{ render_checkboxes.render_checkbox("honesty", "No matter how much the truth hurts, it is better than lying.", render_value.render_value('honesty')) }}
                    </div>
                </div>
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("courage", "Move forward even if you're scared", render_value.render_value('courage')) }}
                        {{ render_checkboxes.render_checkbox("compassion", "Do unto others as you would have them do unto you", render_value.render_value('compassion')) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("positivity", "You don't let anything get you down", render_value.render_value('positivity')) }}
                        {{ render_checkboxes.render_checkbox("curiosity", "Your questions never end", render_value.render_value('curiosity')) }}
                        
                    </div>
                </div>
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("creativity", "New ideas are your bread and butter", render_value.render_value('creativity')) }}
                        {{ render_checkboxes.render_checkbox("growth", "The want to be the best version of yourself", render_value.render_value('growth')) }}
                    </div>
                </div>
                <div class="col-lg mb-3">
                    <div class="row">
                        {{ render_checkboxes.render_checkbox("peace", "Dislike conflict and always try to prevent it", render_value.render_value('peace')) }}
                        {{ render_checkboxes.render_checkbox("responsibility", "Accountability is important to you", render_value.render_value('responsibility')) }}
                    </div>
                </div>
            </div>
            <div class="row mt-5" style="height: 150px">
                <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Continue</button>
            </div>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
    animation("flash", "animate__fadeOut", "animate__fadeIn");
    chosen('input', 'flash')
</script>
{% endblock %}
