{% extends 'layouts/app.html' %}

{% block title %}What Are Your Values{% endblock %}
{% block meta_description %}Find out more about your true self.{% endblock %}

{% block body %}
<section class="row">
    <div class="col d-flex flex-row justify-content-center">
        <img src="{{ url_for('static', filename='images/life.png') }}" class="img-fluid floaf-left" 
        width="500" height="50" 
        alt="Picture of a hand and a heart made by ultimatearm available on https://www.flaticon.com/authors/ultimatearm">
    </div>
    <div class="col d-flex flex-column justify-content-center" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600">
            <h1 class="text-left">What are values?</h1>
            <p class="text-left lead">
                A person's prtinciples or standards of behaviour; 
                <br>
                one's judgement of what is important in life.
                <br>
            </p>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center">
        <h1 data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" class="text-left">Choose the top three values that represent you.</h1>
    </div>
    <div class="col-8 d-flex flex-row justify-content-center">
        <img src="{{ url_for('static', filename='images/cozy-time.jpg') }}" class="img-fluid"  
        alt="Girl sitting down and drinking coffee on https://www.vecteezy.com/free-vector/human">
    </div>
</section>
<section class="row d-flex">
    <div class="col col-*">
        <form method="POST" action="{{ url_for('goals.values')}}">
            <div class="row" style="height: 150px">
                <div class="col d-flex flex-column mb-2 mx-1" style="height:150px;">
                    <div class="d-flex flex-column animate__animated flash" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="z-index: 0; position: absolute; background-color:white;">
                        <label class="text-center lead value" for="authentic">Authenticity</label>
                        <input type="checkbox" name="authentic" value="authentic" id="authentic">
                        <img src="{{ url_for('static', filename='images/authentic.png') }}" class="img-fluid mx-auto auth" alt="Authentic stamp icon made https://www.flaticon.com/authors/flat-icons" style="max-width: 50%; max-height: 50%">
                    </div>
                    <div class="d-flex flex-column animate_animated" style="z-index: -1; position: absolute; overflow: auto;">
                        <p class="text-center lead">You stay true to yourself no matter what.</p>
                    </div>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated">
                    <div class="d-flex flex-column animate__animated flash" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="z-index: 0; position: absolute; background-color:white;">
                        <label class="text-center lead value" for="adventure">Adventure</label>
                        <input type="checkbox" name="authentic" value="adventure" id="adventure">
                        <img src="{{ url_for('static', filename='images/authentic.png') }}" class="img-fluid mx-auto auth" alt="Authentic stamp icon made https://www.flaticon.com/authors/flat-icons" style="max-width: 50%; max-height: 50%">
                    </div>
                    <div class="d-flex flex-column animate_animated" style="z-index: -1; position: absolute; overflow: auto;">
                        <p class="text-center lead">You enjoy getting out of your comfort zone.</p>
                    </div>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated" data-aos="fade-in" data-aos-once="true">
                    <div class="d-flex flex-column animate__animated flash" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="z-index: 0; position: absolute; background-color:white;">
                        <label class="text-center lead value" for="balance">Balance</label>
                        <input type="checkbox" name="balance" value="balance" id="balance">
                        <img src="{{ url_for('static', filename='images/authentic.png') }}" class="img-fluid mx-auto auth" alt="Authentic stamp icon made https://www.flaticon.com/authors/flat-icons" style="max-width: 50%; max-height: 50%">
                    </div>
                    <div class="d-flex flex-column animate_animated" style="z-index: -1; position: absolute; overflow: auto;">
                        <p class="text-center lead">You believe that balance is important in all things.</p>
                    </div>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1" style="height:150px;">
                    <div class="d-flex flex-column animate__animated flash" data-aos="fade-in" data-aos-once="true" data-aos-easing="ease-in" data-aos-duration="600" style="z-index: 0; position: absolute; background-color:white;">
                        <label class="text-center lead value" for="honesty">Honesty</label>
                        <input type="checkbox" name="honesty" value="honesty" id="honesty">
                        <img src="{{ url_for('static', filename='images/authentic.png') }}" class="img-fluid mx-auto auth" alt="Authentic stamp icon made https://www.flaticon.com/authors/flat-icons" style="max-width: 50%; max-height: 50%">
                    </div>
                    <div class="d-flex flex-column animate_animated" style="z-index: -1; position: absolute; overflow: auto;">
                        <p class="text-center lead">No matter how much the truth hurts, it is better than lying.</p>
                    </div>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Boldness</p>
                </div>
            </div>
            <div class="row" style="height: 150px">
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Compassion</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Positivity</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Community</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Curiosity</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Creativity</p>
                </div>
            </div>
            <div class="row" style="height: 150px">
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Friendship</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Growth</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Knowledge</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Peace</p>
                </div>
                <div class="col d-flex flex-column mb-2 mx-1 animate__animated flash" data-aos="fade-in" data-aos-once="true">
                    <input type='hidden'>
                    <p class="text-center lead">Responsibility</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Enter your choice</button>
        </form>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
    animation("flash", "animate__fadeOut", "animate__fadeIn");
    chosen('input', 'flash');
</script>
{% endblock %}
