{% extends 'layouts/app.html' %}

{% block title %}Goals{% endblock %}
{% block meta_description %}Your goals, milestones, achievements, and timeline{% endblock %}

{% block body %}
<div class="row">
    <div class="col">Milestone 1</div>
    <div class="col">Description 1</div>
    <div class="col">Deadline</div>
</div>
<div class="row">
    <div class="col">Milestone 2</div>
    <div class="col">Description 2</div>
    <div class="col">Deadline</div>
</div>
<div class="row">
    <div class="col">Milestone 3</div>
    <div class="col">Description 3</div>
    <div class="col">Deadline</div>
</div>
<div class="row">
    <div class="col">Milestone 4</div>
    <div class="col">Description 4</div>
    <div class="col">Deadline</div>
</div>
<div class="row">
    <div class="col">Milestone 5</div>
    <div class="col">Description 5</div>
    <div class="col">Deadline</div>
</div>
{% endblock %}