{% import 'macros/render_value.html' as render_value with context %}
{% import 'macros/render_checkboxes.html' as render_checkboxes with context %}
{% extends 'layouts/app.html' %}

{% block title %}Home{% endblock %}
{% block meta_description %}Your personal space{% endblock %}

{% block body %}
<section class="container my-5">
    <div class="row mt-5">
        <div class="col d-flex align-items-center">
            <h3 class="text-center">Your Values...</p>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex align-items-start">
            <div class="row">
                <div class="col" style="height: 200px; width: 200px;">
                    {{ render_value.render_value(value1.value) }}
                    <p class="lead" style="position: relative; left:10px">{{ value1.value.capitalize() }}</p>
                </div>
                <div class="col" style="height: 200px; width: 200px;">
                    {{ render_value.render_value(value2.value) }}
                    <p class="lead" style="position: relative; left:10px">{{ value2.value.capitalize() }}</p>
                </div>
                <div class="col" style="height: 200px; width: 200px;">
                    {{ render_value.render_value(value3.value) }}
                    <p class="lead" style="position: relative; left:10px">{{ value3.value.capitalize() }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <p class="lead">Tasks to Complete</p>
            <ul>
                <li aria-selected="false">
                    <div class="row task_item">
                        <div class="col-2">
                            {{ render_checkboxes.render_task_checkbox(current_milestones[0].task.id) }}
                        </div>
                        <div class="col">
                            <p class="task_description">{{ current_milestones[0].task.name }}</p>
                        </div>
                    </div>
                </li>
                <li aria-selected="false">
                    <div class="row task_item">
                        <div class="col-2">
                            {{ render_checkboxes.render_task_checkbox(current_milestones[1].task.id) }}
                        </div>
                        <div class="col">
                            <p class="task_description">{{ current_milestones[1].task.name }}</p>
                        </div>
                    </div>
                </li>
                <li aria-selected="false">
                    <div class="row task_item">
                        <div class="col-2">
                            {{ render_checkboxes.render_task_checkbox(current_milestones[2].task.id) }}
                        </div>
                        <div class="col">
                            <p class="task_description">{{ current_milestones[2].task.name }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col">
            <p class="lead">Quote of the Day</p>
        </div>
    </div>
</section>
<script src="{{ url_for('static', filename='scripts/main.js') }}" type="text/javascript"></script>
<script>
    tickmark_task("circle", "picture", "task_description", "hide", "checked");
</script>
{% endblock %}