{% extends 'layouts/app.html' %}

{% block title %}Goalgetter{% endblock %}
{% block meta_description %}Goalgetter helps you achieve goals and becomne your best self at a pace you can handle. We believe in the developing a sustainable process behind goalsetting.{% endblock %}

{% block body %}
<section class="row my-5">
    <div class="col d-flex">
        <h2 class="mx-auto text-center">Make your annual goals
            <br> more systematic and achievable
        </h2>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center">
        <h2 class="text-center">Discover your core values</h2>
        <p class="lead text-center">
            Regain confidence in yourself by
            <br> understanding more about yourself
        </p>
    </div>
</section>
<section class="row">
    <div class="col d-flex flex-column justify-content-center">
        <h2 class="text-center">Process matters</h2>
        <p class="lead text-center">Refine your proces
            <br> achieve your goals
        </p>
    </div>
</section>
{% endblock %}