{% extends 'layouts/app.html' %}

{% block title %}{% endblock %}
{% block meta_description %}{% endblock %}

{% block body %}
<div class="row">
    <div class="col">Value 1</div>
    <div class="col">Description 1</div>
</div>
<div class="row">
    <div class="col">Value 2</div>
    <div class="col">Description 2</div>
</div>
<div class="row">
    <div class="col">Value 3</div>
    <div class="col">Description 3</div>
</div>
<div class="row">
    <div class="col">Value 4</div>
    <div class="col">Description 4</div>
</div>
<div class="row">
    <div class="col">Value 5</div>
    <div class="col">Description 5</div>
</div>
{% endblock %}