section {
    height: 500px;
}

.hide {
    display: none;
}

.border {
    border: 1px solid black;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.checked {
    color: black;
    text-decoration: line-through;
  }

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}