section {
    height: 500px;
}

.hide {
    display: none;
}

.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.checked {
    color: black;
    text-decoration: line-through;
  }

ul {
    list-style-type: none;
}

button:focus {
    outline: none;
}

.dashboard-general {
    border-radius: 20px;
}

.dashboard-item1 {
    background-color: #c95d63;
    color: #ffe8d6;
}

.dashboard-item2 {
    background-color: #f1e0c5;
    color: black;
}

.dashboard-item3 {
    background-color: #496ddb;
}

body {
    font-family: Verdana, sans-serif;
    background-color: #ffe8d6;
}
