{# Sections for tasks #}
{% macro render_task_section(chosen_value) -%}
<div class="row d-flex">
    <div class="col-3">
        <div class="row">
            <div class="col"><p class="lead">{{ chosen_value.goal.milestone[0].name }}</p></div>
        </div>
        <div class="row my-3">
            <div class="col"><p class="lead">{{ chosen_value.goal.milestone[1].name }}</p></div>
        </div>
        <div class="row my-3">
            <div class="col"><p class="lead">{{ chosen_value.goal.milestone[2].name }}</p></div>
        </div>
    </div>
    <div class="col form-group">
        <div class="row">
            <div class="col"><input type="textarea" class="form-control" name="{{ chosen_value.goal.milestone[0].id }}" required></div>
        </div>
        <div class="row my-3">
            <div class="col"><input type="textarea" class="form-control" name="{{ chosen_value.goal.milestone[1].id }}" required></div>
        </div>
        <div class="row my-3">
            <div class="col"><input type="textarea" class="form-control" name="{{ chosen_value.goal.milestone[2].id }}" required></div>
        </div>
    </div>
    <div class="col form-group">
        <div class="row">
            <div class="col">
                <select class="form-control schedule" name="schedule" required>
                    <option value="every weekday">Every weekday (Monday to Friday)</option>
                    <option value="every weekend">Every weekend (Saturday to Sunday)</option>
                    <option value="every day">Daily</option>
                    <option selected>Weekly</option>
                    <option>Monthly</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <select class="form-control schedule" name="schedule" required>
                    <option value="every weekday">Every weekday (Monday to Friday)</option>
                    <option value="every weekend">Every weekend (Saturday to Sunday)</option>
                    <option value="every day">Daily</option>
                    <option selected>Weekly</option>
                    <option>Monthly</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <select class="form-control schedule" name="schedule" required>
                    <option value="every weekday">Every weekday (Monday to Friday)</option>
                    <option value="every weekend">Every weekend (Saturday to Sunday)</option>
                    <option value="every day">Daily</option>
                    <option selected>Weekly</option>
                    <option>Monthly</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col form-group">
        <div class="row">
            <div class="col">
                <select class="form-control day" name="day" required>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <select class="form-control day" name="day" required>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>
        </div>
        <div class="row my-3">
            <div class="col">
                <select class="form-control day" name="day" required>
                    <option>Monday</option>
                    <option>Tuesday</option>
                    <option>Wednesday</option>
                    <option>Thursday</option>
                    <option>Friday</option>
                    <option>Saturday</option>
                    <option>Sunday</option>
                </select>
            </div>
        </div>
    </div>
</div>
{%- endmacro %}
