{# Render images for the value page. #}
{%- macro render_value(value) -%}
  {% if value == 'adventure' %}
    <img src="{{ url_for('static', filename='images/adventure.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'authentic' %}
    <img src="{{ url_for('static', filename='images/authentic.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'balance' %}
    <img src="{{ url_for('static', filename='images/balance.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'compassion' %}
    <img src="{{ url_for('static', filename='images/compassion.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'courage' %}
    <img src="{{ url_for('static', filename='images/courage.svg') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'creativity' %}
    <img src="{{ url_for('static', filename='images/creativity.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'curiosity' %}
    <img src="{{ url_for('static', filename='images/curiosity.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'freedom' %}
    <img src="{{ url_for('static', filename='images/freedom.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'friendship' %}
    <img src="{{ url_for('static', filename='images/friendship.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'growth' %}
    <img src="{{ url_for('static', filename='images/growth.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'honesty' %}
    <img src="{{ url_for('static', filename='images/honesty.svg') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'journal' %}
    <img src="{{ url_for('static', filename='images/journal.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'knowledge' %}
    <img src="{{ url_for('static', filename='images/knowledge.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'peace' %}
    <img src="{{ url_for('static', filename='images/peace.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'positivity' %}
    <img src="{{ url_for('static', filename='images/positivity.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% elif value == 'responsibility' %}
    <img src="{{ url_for('static', filename='images/responsibility.png') }}" class="img-fluid" alt="Authentic icon made https://www.flaticon.com/authors/flat-icons Freepik" style="max-width: 50%; max-height: 50%">
  {% endif %}
{%- endmacro -%}