{# Sections for tasks #}

{% macro render_milestone(chosen_value, i) -%}
<div class="row my-3">
    <div class="col">
        <p class="lead">{{ chosen_value.goal.milestone[i].name }}</p>
    </div>
</div>
{%- endmacro %}

{% macro render_textinput(chosen_value, i) -%}
<div class="row my-3">
    <div class="col">
        <input type="textarea" class="form-control" name="{{ chosen_value.goal.milestone[i].id }}" required>
    </div>
</div>
{%- endmacro %}

{% macro render_schedule(chosen_value, i) -%}
<div class="row my-3">
    <div class="col">
        <select class="form-control schedule" name="{{ chosen_value.goal.milestone[i].id }}" required>
            <option value="every weekday">Every weekday (Monday to Friday)</option>
            <option value="every weekend">Every weekend (Saturday to Sunday)</option>
            <option value="every day">Daily</option>
            <option selected>Weekly</option>
        </select>
    </div>
</div>
{%- endmacro %}

{% macro render_day(chosen_value, i) -%}
<div class="row my-3">
    <div class="col">
        <select class="form-control day" name="{{ chosen_value.goal.milestone[i].id }}" required>
            <option>Monday</option>
            <option>Tuesday</option>
            <option>Wednesday</option>
            <option>Thursday</option>
            <option>Friday</option>
            <option>Saturday</option>
            <option>Sunday</option>
        </select>
    </div>
</div>
{%- endmacro %}