{% extends 'layouts/app.html' %}

{% block title %}Login{% endblock %}
{% block meta_description %}Login page for goalgetter{% endblock %}

{% block body %}
<h2 class="display-5">Please Sign In</h2>
    <form method="POST" action="{{ url_for('user.login')}}">
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.csrf_token }}
        </p>
        <input type="submit" class="btn btn-primary" value="Login">
    </form>
{% endblock %}