{% extends 'layouts/app.html' %}

{% block title %}Login{% endblock %}
{% block meta_description %}Login page for goalgetter{% endblock %}

{% block body %}
<div class="row">
    <div class="col d-flex">
        <img src="{{ url_for('static', filename='images/pixeltrue-settings-1.png') }}" alt=" Illustration by https://icons8.com/illustrations/author/5ec7b0e101d0360016f3d1b3 Pixeltrue from https://icons8.com/illustrations Ouch!" class="img-fluid mx-auto" style="position: relative; top: 10px; max-width: 100%; max-height: 100%">
    </div>
</div>
<section class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Change Your Password</h2>
            </div>
        </div>
        <div class="row" style="height: 15px;"></div>
        <div class="row">
            <div class="col d-flex">
                <form method="POST" action="{{ url_for('user.settings')}}">
                    <p>
                        {{ passwordform.password.label }}<br>
                        {{ passwordform.password(size=32) }}
                    </p>
                    <p>
                        {{ passwordform.csrf_token }}
                    </p>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary" style="height: 50px" value="Change Password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Change Your Name</h2>
            </div>
        </div>
        <div class="row" style="height: 15px;"></div>
        <div class="row">
            <div class="col d-flex">
                <form method="POST" action="{{ url_for('user.settings')}}">
                    <p>
                        {{ nameform.name.label }}<br>
                        {{ nameform.name(size=32) }}
                    </p>
                    <p>
                        {{ nameform.csrf_token }}
                    </p>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary" style="height: 50px" value="Change Name">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}