{% extends 'layouts/app.html' %}

{% block title %}Signup{% endblock %}
{% block meta_description %}Signup page for goalgetter{% endblock %}

{% block body %}
<h2 class="display-5">Please Sign Up</h2>
    <form method="POST" action="{{ url_for('user.signup')}}">
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.csrf_token }}
        </p>
        <input type="submit" class="btn btn-primary" value="Signup">
    </form>
{% endblock %}