{% extends 'layouts/app.html' %}

{% block title %}Signup{% endblock %}
{% block meta_description %}Signup page for goalgetter{% endblock %}

{% block body %}
<section class="row mt-5">
    <div class="col d-flex flex-column justify-content-center align-items-center">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Join Goalgetter</h2>
                <p class="text-center">Discover yourself and achieve goals</p>
            </div>
        </div>
        <div class="row" style="height: 15px;"></div>
        <div class="row">
            <div class="col d-flex">
                <form method="POST" action="{{ url_for('user.signup')}}">
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=32) }}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}
                    </p>
                    <p>
                        {{ form.name.label }}<br>
                        {{ form.name(size=32) }}
                    </p>
                    <p>
                        {{ form.csrf_token }}
                    </p>
                    <div class="row">
                        <div class="col d-flex justify-content-center">
                            <input type="submit" style="height: 50px" class="btn btn-primary" value="Signup">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex">
                <img src="{{ url_for('static', filename='images/pixeltrue-welcome-1.png') }}" alt=" Illustration by https://icons8.com/illustrations/author/5ec7b0e101d0360016f3d1b3 Pixeltrue from https://icons8.com/illustrations Ouch!" class="img-fluid mx-auto" style="position: relative; top: 10px; max-width: 70%; max-height: 70%">
            </div>
        </div>
        <div class="row">
            <form method="GET" action="{{ url_for('user.login')}}">
                <p>Already have an account? <button type="submit" style="height: 50px" class="btn btn-light mx-auto">Sign In</button> </p>
            </form>
        </div>
    </div>
</section>
{% endblock %}